.header{
 width: 100%;
 position: relative;
 height: 64px;
}

.logo {
  position: absolute;
  left: 60px;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  color: #00BDFF;
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-align: center;
  height: 27px;
  vertical-align: middle;
}

.logo span {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
}

.img-logo {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: solid #00BDFF 1px;
  margin-right: 10px;
}

.header ul {
  position: absolute;
  display: inline-block;
  width: 300px;
  height: 22px;
  right: 25px;
}

.active {
  color: #00BDFF !important ;
  border-bottom: 2px solid #00BDFF;
  padding-bottom: 1px;
}

.header ul li {
  display: inline-block;

  height: 22px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #8aa0a9;
  margin-right: 35px;
  margin-top: 5px;
}

.header ul li:hover {
  color: #00BDFF;
}

